body{
    color: white;
    background-color: black;
}

a.navbar-brand {
    color: white;
    font-size: 4vw;
}

a.navbar-brand:hover {
    color: rgba(255, 192, 203, 0.774);
}

a.nav-link {
    font-size: 5vw;
    background-color: grey;
}

main section {
    height: 200vh;
    background-color: rgb(25, 3, 124);
    position: relative;
}

#end_lorem {
    position: absolute;
    bottom: 0;
}

main section p {
    font-size: 3vw;
}
